body{
    background-color: #FFFFFF;
    overflow: hidden;
}

textarea{
    width: 82.5%;
    background-color: #FFFFFF;
    border-width: 0px;
    outline: none !important;
    font-size: 2em;
    color: #393939;
    font-family: 'Source Serif 4', serif;
    resize: none;
}

h1, h2, h3, h4, h5, h6, p{
    font-family: 'Oswald', sans-serif;
}

h1{
    font-weight: 600;
    color: #393939;
}

img{
    max-width: 100%;
    height: 60%;
    padding-bottom: 40px;
}

hr{ 
    border-top: dotted 5px;
}

a{
    color: #393939;
}

button:hover{
    background-color: #F37A1F;
}

form{
    margin-right: 30px;
}

.container{
    max-width: 100%;
    max-height: 75%;
}

.left-container{
    padding-left: 80px;
}

.left-container h1{
    font-weight: 400;
    color:#7d4a29
}

.right-container{
    text-align: center;
    color: #FFFFFF;
}

.sentiment-right{
    padding-right: 80px;
}

.login-body{
    background-color: #F37A1F;
    background-image: linear-gradient(to right, #FFFFFF 50%, rgba(0,0,0,0) 20%); 
    position: relative;
}

.login{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.login h2{
    margin-bottom: 3%;
}

.header{
    max-width: 100%;
    color: #393939;
    padding: 10px 0px 10px 80px;
    margin: 0px 0px 10px 0px;
}

.interface-header{
    background-color: #FFFFFF;
    color: #393939;
    max-width: 100%;
    padding: 10px 0px 10px 80px;
    margin: 0px 0px 10px 0px;
}

.login-button{
    background-color: #FF964F;
    border-color: #FF964F;
}

.login-button:hover{
    background-color: #F37A1F;
    border-color: #F37A1F;
}

.login-button p{
    margin: 0;
}

.section{
    font-family: 'Oswald', sans-serif;
    font-size: 3em;
    color: #51647a;
}

.description{
    color: #393939;
    font-family: 'Source Serif 4', serif;
}